<table class="table table-hover">
    <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile</th>
    <th>action</th>
    </thead>
    
    <tbody>
        <tr *ngFor="let emp of list">
            <td (click)="onEdit(emp)">{{emp.empCode}} - {{emp.fullName}}</td>
            <td (click)="onEdit(emp)">{{emp.position}}</td>
            <td (click)="onEdit(emp)">{{emp.mobile}}</td>
            <td (click)="onDelete(emp.id)"><a class="btn text-danger"><i class="fa fa-trash">delete</i></a></td>
        </tr>
    </tbody>

</table>